* {
  font-family: "Raleway" !important;
  font-weight: 200;
  margin: auto;
  /* serious problems with resizing browser and keeping absolute positions correct */
  /* https://stackoverflow.com/questions/107936/how-to-add-some-non-standard-font-to-a-website#107951 */ }

@font-face {
  font-family: "Raleway" !important;
  src: url("/_assets/fonts/Raleway-Regular.ttf") format("truetype"); }

.spacing__none {
  margin: 0; }

.spacing__max-width {
  max-width: 1366px; }

.spacing__linebreak {
  border: none;
  width: 40%;
  max-width: 523px;
  border-top: thin dashed;
  margin-top: 30px;
  margin-bottom: 30px; }

.spacing__gap-padding-top {
  padding-top: 100px; }

.spacing__float-left {
  float: left;
  padding-right: 20px; }

.spacing__float-clear {
  clear: both; }

.background__blue {
  background-color: #eaf7fb;
  background-size: cover;
  width: 100%;
  padding-bottom: 50px; }

.background__slide1 {
  background: url("/_assets/images/male.jpg");
  background-position: center;
  max-width: 1366px; }

.background__slide2 {
  background: url("https://picsum.photos/1366/556");
  background-position: center;
  max-width: 1366px; }

.background__slide3 {
  background: url("https://picsum.photos/1366/556");
  background-position: center;
  max-width: 1366px; }

.link__camo {
  text-decoration: none;
  color: inherit; }

.link__button {
  background-color: #d16319;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1.2px;
  color: white;
  padding: 20px 40px; }

.link__wide {
  padding-left: 75px;
  padding-right: 75px; }

.input__container {
  max-width: 478px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 725px) {
    .input__container {
      max-width: 920px; } }

.input__box {
  margin-left: 0;
  width: 300px;
  margin-right: 20px;
  margin-bottom: 40px; }

.input__box2 {
  width: 140px;
  margin: 0 20px 0 0; }

.input__box3 {
  width: 65%;
  padding-right: 20px;
  padding-bottom: 60px;
  margin: auto; }
  @media (max-width: 725px) {
    .input__box3 {
      padding-top: 40px; } }

.input__form {
  border: none;
  border-bottom: 1px solid grey;
  width: 100%; }

.input__form-font {
  font-family: "Franklin Gothic Medium";
  font-size: 12px;
  height: 20px;
  color: #434343;
  text-transform: uppercase;
  letter-spacing: 2.5px; }

.input__form-textarea {
  font-size: 100%;
  height: 80px;
  width: 98%;
  padding-bottom: 0.4em;
  padding-right: 0.4em;
  border: 1px solid #434343; }

.input__form-comments-chunk {
  text-align: left; }

.quote__header {
  color: white;
  position: relative;
  margin: auto auto auto 8%;
  padding-top: 150px; }

.quote__cite {
  margin-left: 8%;
  margin-bottom: 40px;
  margin-top: 17px;
  font-size: 22px;
  font-weight: 100;
  font-style: oblique;
  color: white; }

.quote__button {
  margin-left: 8%; }

.image__curve {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  margin-top: 43px;
  margin-bottom: 0; }

.heading__logo {
  margin-left: 110px;
  margin-bottom: 10px;
  margin-top: 10px;
  max-width: 100%; }

.heading__h1 {
  font-size: 44.21px;
  font-weight: 300; }

.heading__h2 {
  margin-top: 50px;
  font-size: 40px;
  font-weight: 400; }
  @media (max-width: 773px) {
    .heading__h2 {
      max-width: 446px;
      margin: auto;
      margin-top: 50px; } }

.heading__h4 {
  font: helvetica;
  font-size: 28px;
  color: #8cc3d2 !important;
  letter-spacing: 2px; }

.text__center {
  text-align: center; }

.text__thick, .input__form-font {
  font-weight: 600; }

.text__left-white {
  text-align: left;
  color: white;
  font-size: 13; }

.text__medium {
  font-size: 20px;
  padding-bottom: 80px; }

@media (max-width: 725px) {
  .text__mobile {
    max-width: 370px;
    margin: auto;
    padding-bottom: 50px;
    min-width: 268px; } }

.footer {
  text-align: center;
  color: grey;
  background: black;
  padding-bottom: 30px; }
  @media (max-width: 515px) {
    .footer__fineprint {
      max-width: 362px; } }
  .footer__container {
    padding: 0 10%;
    padding-top: 40px;
    padding-bottom: 20px; }
    @media (min-width: 750px) {
      .footer__container {
        display: -ms-flexbox;
        display: flex;
        max-width: 980px;
        -ms-flex-pack: justify;
            justify-content: space-between; } }
  .footer__box {
    min-width: 60%;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%; }
    @media (max-width: 750px) {
      .footer__box {
        max-width: 312px;
        padding-bottom: 35px; } }
  @media (max-width: 805px) {
    .footer__text-flex {
      max-width: 412px; } }

.marker, .marker__1, .marker__2, .marker__3 {
  position: absolute;
  margin-top: 450px;
  margin-left: 49.3%;
  z-index: 999; }
  .marker__1 {
    -ms-transform: translateX(-40px);
        transform: translateX(-40px); }
  .marker__3 {
    -ms-transform: translateX(40px);
        transform: translateX(40px); }

.slider {
  position: relative;
  width: 100%;
  max-width: 1366px;
  height: 556px;
  overflow: hidden; }
  .slider__container {
    position: relative;
    list-style: none;
    height: 100%;
    width: 9999%;
    padding: 0;
    margin: 0;
    transition: all 750ms ease;
    left: 0; }
  .slider__slide {
    position: relative;
    height: 100%;
    width: 100vw;
    float: left; }
  .slider__next, .slider__prev {
    width: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    transition: all 150ms ease;
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="3" /><feOffset dx="6" dy="4" result="offsetblur" /><feFlood flood-color="rgba(34,34,34,1)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge></filter></svg>#filter');
    filter: drop-shadow(5px 3px 3px #222222); }
  .slider__prev {
    left: 15px; }
  .slider__next {
    right: 15px; }

.services__container {
  margin-bottom: 65px; }
  @media (min-width: 750px) {
    .services__container {
      display: -ms-flexbox;
      display: flex;
      max-width: 980px;
      padding-left: 20%;
      padding-right: 20%;
      -ms-flex-pack: justify;
          justify-content: space-between;
      margin: auto auto 125px; } }

.services__box {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%; }
  @media (max-width: 750px) {
    .services__box {
      padding-bottom: 35px; } }

.services__padding {
  font-size: 22px;
  -webkit-margin-before: 0.5em;
          margin-block-start: 0.5em; }

/*# sourceMappingURL=main.css.map */
