.background {
  &__blue {
    background-color: #eaf7fb;
    background-size: cover;
    width: 100%;
    padding-bottom: 50px;
  }

  &__slide1 {
    background: url("/_assets/images/male.jpg");
    background-position: center;
    max-width: 1366px;
  }

  &__slide2 {
    background: url("https://picsum.photos/1366/556");
    background-position: center;
    max-width: 1366px;
  }

  &__slide3 {
    background: url("https://picsum.photos/1366/556");
    background-position: center;
    max-width: 1366px;
  }
}
