.link {
  &__camo {
    text-decoration: none;
    color: inherit;
  }

  &__button {
    background-color: #d16319;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1.2px;
    color: white;
    padding: 20px 40px;
  }

  &__wide {
    padding-left: 75px;
    padding-right: 75px;
  }
}
