.quote {
  &__header {
    color: white;
    position: relative;
    margin: auto auto auto 8%;
    padding-top: 150px;
  }

  &__cite {
    margin-left: 8%;
    margin-bottom: 40px;
    margin-top: 17px;
    font-size: 22px;
    font-weight: 100;
    font-style: oblique;
    color: white;
  }

  &__button {
    margin-left: 8%;
  }
}
