.text {
  &__center {
    text-align: center;
  }

  &__thick {
    font-weight: 600;
  }

  &__left-white {
    text-align: left;
    color: white;
    font-size: 13;
  }
  &__medium {
    font-size: 20px;
    padding-bottom: 80px;
  }
  &__mobile {
    @media (max-width: 725px) {
      max-width: 370px;
      margin: auto;
      padding-bottom: 50px;
      min-width: 268px;
    }
  }
}
